@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script>
        $(document).ready(function () {
            var source = new EventSource("@Url.Action("Updates", "Home")");

            source.onmessage = function (e) {
                var results = JSON.parse(e.data);

                var data = [];

                results.forEach(function (item) {
                    data.push([new Date(), item.count]);
                });
                
                $('#chart-container').highcharts({
                    title: {
                        text: '',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Source: WorldClimate.com',
                        x: -20
                    },
                    xAxis: {
                        type: "datetime"
                    },
                    yAxis: {
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series:[{data: data}]
                });
            };
        });
    </script>
</head>
<body>
    <div id="chart-container">
            
    </div>
</body>

</html>
